# Importando as bibliotecas

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Tabelas importadas do site  http://dados.ufrn.br/group/ensino

In [2]:
##DADOS SÓCIO-ECONÔMICOS DE DISCENTES


url_socio_2013_1 = 'https://bit.ly/2IwDSvE'
url_socio_2013_2 = 'https://bit.ly/2KUmr6D'

url_socio_2014_1 = 'https://bit.ly/2rwzbXX'
url_socio_2014_2 = 'https://bit.ly/2IaMcO9'

url_socio_2015_1 = 'https://bit.ly/2wuf4PY'
url_socio_2015_2 = 'https://bit.ly/2K7UtTy'

url_socio_2016_1 = 'https://bit.ly/2I5xrMA'
url_socio_2016_2 = 'https://bit.ly/2K8jMF3'

url_socio_2017_1 = 'https://bit.ly/2jLOb0T'

##MATRÍCULAS EM COMPONENTES


matricula_2013_1 = 'https://bit.ly/2G7irff'
matricula_2013_2 = 'https://bit.ly/2jPQ7FG'

matricula_2014_1 = 'https://bit.ly/2rwFpI4'
matricula_2014_2 = 'https://bit.ly/2I3mj6T'

matricula_2015_1 = 'https://bit.ly/2I8YfeM'
matricula_2015_2 = 'https://bit.ly/2rvknKb'

matricula_2016_1 = 'https://bit.ly/2K7oy5w'
matricula_2016_2 = 'https://bit.ly/2rup6Ma'

matricula_2017_1 = 'https://bit.ly/2KMoTvS'

##DADOS COMPLEMENTARES DE DISCENTES

complementares_discente = 'https://bit.ly/2wxa4df'

# Leitura de csv

In [3]:
##LEITURA DOS DADOS SÓCIO-ECONÔMICOS DE DISCENTES

socio_2013_1 = pd.read_csv(url_socio_2013_1, sep=';')
socio_2013_2 = pd.read_csv(url_socio_2013_2, sep=';')
socio_2014_1 = pd.read_csv(url_socio_2014_1, sep=';')
socio_2014_2 = pd.read_csv(url_socio_2014_2, sep=';')
socio_2015_1 = pd.read_csv(url_socio_2015_1, sep=';')
socio_2015_2 = pd.read_csv(url_socio_2015_2, sep=';')
socio_2016_1 = pd.read_csv(url_socio_2016_1, sep=';')
socio_2016_2 = pd.read_csv(url_socio_2016_2, sep=';')
socio_2017_1 = pd.read_csv(url_socio_2017_1, sep=';')

In [4]:
##LEITURA DAS MATRÍCULAS EM COMPONENTES

matriculas_2013_1 = pd.read_csv(matricula_2013_1, sep=';')
matriculas_2013_2 = pd.read_csv(matricula_2013_2, sep=';')
matriculas_2014_1 = pd.read_csv(matricula_2014_1, sep=';')
matriculas_2014_2 = pd.read_csv(matricula_2014_2, sep=';')
matriculas_2015_1 = pd.read_csv(matricula_2015_1, sep=';')
matriculas_2015_2 = pd.read_csv(matricula_2015_2, sep=';')
matriculas_2016_1 = pd.read_csv(matricula_2016_1, sep=';')
matriculas_2016_2 = pd.read_csv(matricula_2016_2, sep=';')
matriculas_2017_1 = pd.read_csv(matricula_2017_1, sep=';')

KeyboardInterrupt:

In [6]:
complemento = pd.read_csv(complementares_discente, sep=';')
complemento.shape

(372148, 14)

In [13]:
# Concatenação dos data frames sócio-econômicos
turmas = pd.concat([socio_2013_1, socio_2013_2, socio_2014_1, socio_2014_2, socio_2015_1,
                    socio_2015_2, socio_2016_1, socio_2016_2, socio_2017_1])
turmas.shape

(99296, 9)

In [15]:
# Concatenação dos data frames matriculas
matriculas = pd.concat([matriculas_2013_1, matriculas_2013_2, matriculas_2014_1, matriculas_2014_2, 
                        matriculas_2015_1, matriculas_2015_2, matriculas_2016_1, matriculas_2016_2, 
                        matriculas_2017_1])
matriculas.shape

(6339179, 11)

In [16]:
# Renomear a coluna discente do data frame matriculas para id_discente
matriculas.rename(columns={'discente':'id_discente'}, inplace=True)

In [17]:
# Merge dos data frames matriculas e tumas
colunas = ["id_discente", "ano", "periodo", "renda", "escola_ens_medio", "possui_bolsa_pesquisa",
          "possui_auxilio_alimentacao", "possui_auxilio_transporte", "possui_auxilio_residencia_moradia", "id_curso"]

alunos = pd.merge(matriculas, turmas, on='id_discente')[colunas]
alunos.shape

(12365341, 10)

In [22]:
alunos.head()

,id_discente,ano,periodo,renda,escola_ens_medio,possui_bolsa_pesquisa,possui_auxilio_alimentacao,possui_auxilio_transporte,possui_auxilio_residencia_moradia,id_curso
0,6fdf84192e10810368fbe2af7f8fefcb,2013,1,NaN,NaN,f,t,f,t,2000002.0
1057,329fc75ea2fd700dfd4581b0ff039471,2013,2,NaN,NaN,f,t,f,f,2000014.0
1693,bc121d0608829e9ee310909b5ef64831,2013,1,NaN,NaN,f,f,f,f,2000002.0
1700,cd50d743cd3f8a5e67e2095adfb8740d,2015,1,1450.0,Todo em escola particular,f,f,f,f,2000002.0
1818,27f9856eed4f8a077a50c049c2bdd8b4,2013,1,NaN,NaN,f,f,f,f,2000002.0

In [23]:
# Merge dos data frames alunos (resultado do merge anterior) e complemento
colunas = ["id_discente", "ano", "periodo", "renda", "escola_ens_medio", "possui_bolsa_pesquisa",
          "possui_auxilio_alimentacao", "possui_auxilio_transporte", "possui_auxilio_residencia_moradia", 
           "id_curso", "sexo", "data_nascimento", "raca", "estado_origem", "cidade_origem", "estado",
           "municipio", "bairro", "ano_ingresso", "periodo_ingresso", "cotista"]

alunos = pd.merge(alunos, complemento, on='id_discente')[colunas]
alunos.shape

(34449, 21)

In [24]:
# Remove os alunos repetidos, usando id_discente como primary key
alunos.drop_duplicates(subset='id_discente', keep='first', inplace=True)
alunos.shape

(34449, 21)

In [25]:
# Filtra apenas os alunos do BTI. Id do curso BTI = 92127264.0, pode ser consultada na tabela cursos
alunos_imd = alunos.loc[(alunos['id_curso'] == 92127264.0)]
alunos_imd.shape

(694, 21)

In [26]:
alunos_imd.head()

,id_discente,ano,periodo,renda,escola_ens_medio,possui_bolsa_pesquisa,possui_auxilio_alimentacao,possui_auxilio_transporte,possui_auxilio_residencia_moradia,id_curso,...,data_nascimento,raca,estado_origem,cidade_origem,estado,municipio,bairro,ano_ingresso,periodo_ingresso,cotista
510,da437177e090ab90ea33ba772cfbae03,2014,1,7500.0,Todo em escola publica,f,f,f,f,92127264.0,...,15-05-1991,Branco,Rio Grande do Norte,MACAU,Rio Grande do Norte,NATAL,NOSSA SENHORA DE NAZARÉ,2013,1.0,f
511,7dd1c07f788951271820d1cb7b1b5bf7,2013,1,NaN,NaN,f,f,f,f,92127264.0,...,20-05-1990,Pardo,Rio Grande do Norte,PARNAMIRIM,Rio Grande do Norte,PARNAMIRIM,NOVA PARNAMIRIM,2013,1.0,f
512,2d546606bfbf2094137a4dcfacf5e12f,2013,2,NaN,NaN,f,f,f,f,92127264.0,...,25-07-1982,Indígeno,Rio Grande do Norte,NATAL,Rio Grande do Norte,NATAL,PITIMBU,2013,1.0,f
513,145440d461db004f5513e19a5ce783cd,2013,1,NaN,NaN,f,f,f,f,92127264.0,...,02-09-1983,Pardo,Rio Grande do Norte,NATAL,Rio Grande do Norte,NATAL,NOSSA SENHORA DE NAZARÉ,2013,1.0,f
515,c6e6b75a1e8fb3912dc281802313a782,2014,1,6000.0,Todo em escola particular,f,f,f,f,92127264.0,...,05-01-1995,Branco,Rio Grande do Norte,PARNAMIRIM,Rio Grande do Norte,NATAL,NOVA PARNAMIRIM,2013,1.0,f